* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #fafafa;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url(/image/hero-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.logo-bar {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    color: #2f7a8d;
}

.logo h1 {   
    color: #fafafa;
    text-align: center;
    letter-spacing: 2px;
    padding: 2rem 0.2rem;
    font-family: 'Rock Salt', cursive;
    font-weight: lighter;
}

main {
    max-width: 90%;
    margin: auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  
}

.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #fafafa;
    border-radius: 20px;
    padding: 1rem;
    width: 300px;
    min-height: 50vh;
}

.registration label {
    margin-top: 1.5rem;
    color: #fff;
    font-size: 1.3rem;
}

.registration input {
    color: #333;
}

.register {
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translateX(-50%);
}

.register h1 {
    text-decoration: none;
    font-size: 1.5rem;
    background-color:  #2f7a8d;
    z-index: 2;
    border-radius: 10px;
    padding: 0.2rem;
}

input:focus {
    border: 3px solid #2f7a8d;
}


input[type="file"] {
    color: #fff;
    width: 70%;
    cursor: pointer;
    
}

button {
    margin-top: 1rem;
    width: 50%;
    border: none;
    color: #fafafa;
    letter-spacing: 2px;
    background-color: #2f7a8d;
    padding: 0.5rem 1rem;
    cursor: pointer;
    
}

.upload {
    margin-bottom: 0.5rem;
}

.login {
    padding-top: 0.2rem;
    text-align: center;
}

.login a {
    text-decoration: none;
}
